body {
    margin: 0px;
}
.box {
    font-size: large 100px;
    width: 200;
    height: 10;
    border: 120px solid rgb(188, 141, 145);
    background-color: rgba(205, 173, 130, 0.829);
    margin: 10px 20px 50px 20px;
    padding: 50px;
}
#box-2 {
    position: absolute;
    top: 280px;
    left: 90px;
    width: 0px;
    height: 0px;
    border: 0px;
    background-color: rgb(238, 88, 183);
    margin: 10px 50px;

}
#box-3 {
    position: absolute;
    top: 290px;
    left: 250px;
   width: 1px; 
   height: 1px;
   border: 0px;
   background-color: blue;
   margin: 0px 50px;
}
button.box-4{
    position: absolute;
    top: 260px;
    left: 100px;
    background-color: aqua;

}
button.box4:hover{
    background-color: aqua;
    border-color: black;

}
