@media (max-width:992px) {
    .about {
        margin-bottom: 50px;
    }
    .header__scoll {
        display: none;
    }
    @media (max-width: 1350px) {
        .header__phone {
            margin-right: 30px;
        }
        .header__menu {
            display: none;
        }
        .mobile-menu__btn {
            display: block;

    }
        .mobile-menu__btn {
            display: block;
        }
@media (max-width:755px)
.header__button {
    display: none;
}

@media (max-width:755) {
    .header__scoll {
        display: none;
  
    }




