body{
    box-sizing: border-box;
}
img{
    width: :40px;
    heigh: 40px;
}
.mia{
    background-color: rgb(206, 179, 120);
    width: 300px;
    height: 25px;
    margin: 0 0 0 20%;
}
.box-1{
    display: flex;
    justify-content: space-between;
    width: 800;
    height: 30;
    margin: 20px 0;
}
.b1{
    background-color: rgb(49, 190, 65);
    display: flex;
    justify-content: center;
    width: 50px;
    height: 20px;
    border: 2px solid red(60,68,44);
}
.flexbox-1{
    display: inline;
    background-color: palevioletred;
    border: 1px solid black;
    
    }
.flexbox-2{
    display: inline;
    background-color: palevioletred;
    border: 1px solid black;
}

.flexbox-3{
    display: inline;
    background-color: palevioletred;
    border: 1px solid black;
}




}    




